################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BordroKrediSorgu/bin
/BordroKrediSorgu/obj/Debug
/packages

/BordroKrediSorgu/Web.config